.App {
  text-align: center;
 
}

.tasks {
  width: 100vw;
  height: 100vh;
}

.light {
  background-color:white;
  color: #000000;
}

.dark {
  background-color: #5b2f2f98;
  color: #ffffff;
}

button {
  padding: 5px 10px;
  background-color: rgb(12, 10, 10);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
  padding: 7px 12px;

}

input {
  border-radius: 20px;
  padding: 5px 10px;


}